<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <ul>
    <ng-container *ngFor="let employe of employes; let i = index" [ngSwitch]="employe.typeValue">
      <li [ngClass]="{pair_row: (i+1)%2 != 0 }">{{employe.name}} - {{employe.typeValue}}
        - <span class="green" *ngSwitchCase="'low'">Precio insuperable</span>
          <span class="yellow" *ngSwitchCase="'medium'">Precio bajo</span>
          <span class="red" *ngSwitchCase="'high'">Precio normal</span>
      </li>
    </ng-container>
  </ul>
<router-outlet></router-outlet>
